body {
	margin: 0;
	background-color: #298eea;
	font-family: sans-serif;
}

img {
	display: block;
	margin: 40px auto;
	height: 35px;
}

form {
	width: 320px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px 40px;
	background-color: white;
}

h1, form a {
	text-align: center;
	color: #5e5b57;
	font-weight: normal;
}

fieldset {
	border: none;
}

input {
	border: 2px solid #e7e7e7;
	height: 21px;
	margin: 20px 0 20px -15px;
}

input {
	width: 286px;
	padding: 15px;
}

button {
	height: 55px;
	width: 320px;
	color: white;
	background-color: #11cd72;
}

.login {
	color: white;
	text-align: center;
}

.login a {
	color: white;
}

.login a:hover {
	text-decoration: none;
}